:root {
	--time-display: block;
	--outer: 27px;
}

.todo-list li .icon {
	width: 30px;
	height: 40px;
	font-size: 34px;
	color: #cc9a9a;
	margin: auto 0;
	transition: color 0.2s ease-out;
	cursor: pointer;
}

.todo-list li .icon:hover {
	color: #af5b5e;
}

.todo-list li .icon-destroy {
	position: absolute;
	top: 0;
	bottom: -3px;
	right: 10px;
}

.todo-list li .icon-destroy:after {
	content: '×';
}

.todo-list li .icon-edit {
	position: absolute;
	top: 0;
	bottom: -3px;
	font-size: 19px;
	right: 45px;
}

.todo-list li .icon-edit:after {
	content: '✎';
}

.todo-list li .icon-pause,
.todo-list li .icon-play {
	font-size: 18px;
	width: 18px;
	height: 27px;
}

.todo-list li .icon-play {
	font-size: 15px;
}

.icon-pause:after {
	content: '⏸';
	width: 14px;
  height: 14px;
}

.icon-play:after {
	content: '▶';
	position: relative;
	left: -20px;
}

.todo-list li .edit {
	display: none;
}

.todo-list li.editing:last-child {
	margin-bottom: -1px;
}

.description-second {
	font-size: 13px;
  color: gray;
}
.icon-play {
  font-size: 14px;
  width: 14px;
  height: 14px;
}

.time {
	display: var(--time-display);
	margin-left: var(--outer)
}





